html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  word-break: keep-all;
}
/* 스크롤 바 안보이게 하는 css 불필요시 제거할 것 */
/* body::-webkit-scrollbar {
  display: none;
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
ul li img{
  width: 44px; height: 44px;
}
a {
  text-decoration: none;
}
.hidden{
    display: none;
}