@charset "utf-8";

#product{
    background-color: #fff;
}

#product .tabMenu {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

#product .tabMenu li {
    font-size: 20px;
    font-weight: 600;
    opacity: 0.5;
    transition: all 0.3s;
}

#product .tabMenu li:hover {
    font-size: 20px;
    opacity: 1;
}

#product .tabOpen .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

#product .tabOpen .productList figure a img {
    width: 375px;
    height: 375px;
}
.productList.on li{display: block;}
.productList li{
    display: none;
}
/* hover해서 나오는 아이템 상세 */
.itemTxt{/* 이미지에 커서를 올리면 오퍼시티 0에서 위로 올라오며 나타나도록 함. */
    position: relative;
    bottom: 0;
    color: #fff;
    text-align: left;
    padding: 15px;
    line-height: 28px;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}
.itemInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ratings span {
    font-size: 16px;
}

.bedge{
    color: #D33A3C;
    font-size: 18px;
    font-weight: 500;
    margin-right: 5px;
} 
.price{
    font-size: 24px;
}

