@charset "utf-8";

#review{
    background-color: #fff;
}

#review .innerBox{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
}
#review .innerBox .revInfo{
    width: 378px;
    height: 600px;
}
#review .innerBox .revInfo{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: space-between;
}
#review .innerBox .revInfo:hover{
    color: #fff;
    filter: grayscale(0%);
}
#review .innerBox .revInfo .revTxt .title{
    font-size: 24px;
    font-weight: 600;
}
#review .innerBox .revInfo .revTxt{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
#review .innerBox .revInfo .revTxt .info{
    font-size: 18px;
    line-height: 1.5;
}
#review .innerBox .revInfo .btn{
    text-align: center;
}
#review .rev1{
    background: url(../img/store/인형/괴담출근\ 브라운3.png) no-repeat center/cover;
    filter: grayscale(100%);
    transition: all 0.5s;
}
#review .rev2{
    background: url(../img/store/악세사리/짱구자석1.png) no-repeat center/cover;
    filter: grayscale(100%);
    transition: all 0.5s;
}
#review .rev3{
    background: url(../img/store/티셔츠/슬램덩크2.png) no-repeat center/cover;
    filter: grayscale(100%);
    transition: all 0.5s;
}
#review .rev4{
    background: url(../img/store/기타/aviot_w.webp) no-repeat center/cover;
    filter: grayscale(100%);
    transition: all 0.5s;
}
